# Jupyter Notebooks / JupyterLab
.ipynb_checkpoints

# Rope
.ropeproject/

# Vim Backup Files
*.un~
*.swp
*.swo
*~

# KDE directory settings
.directory

# PyCharm
.idea

# Also probably unnecessary to commit tag files
# From: 
# https://raw.githubusercontent.com/github/gitignore/afbff9027d02ccfc680e031f6c295f79ad61662d/Global/Tags.gitignore


# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
