# Global Git Config
# Vim: set ft=gitconfig:

[user]
    email = farischugthai@gmail.com
    name = farisachugthai

[branch]
    autosetupmerge = true

[branch.master.mergeOptions]
    ff=false

[core]
    autocrlf = input
    editor = nvim
    excludesfile = "$HOME/.config/git/ignore"
    filemode = false
    logallrefupdates = true
    pager = less -rMFXKL
    repositoryformatversion = 0

[color]
    branch = always
    diff = true
    interactive = auto
    pager = true
    ui = true

[credential]
    helper = cache --timeout=86400

[credential "https://www.github.comm"]
    username = farisachugthai

# Man git-difftool: Line 85
# If difftool settings havent been set, fall back to mergetool
[diff]
    color = auto
    prompt = false
    # detect copied files as well as renames. affects merge and status.renames
    renames = copy
    strategy-option = resolve
    tool = nvimdiff
    renames = copies

[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
    trustexitcode = true

[help]
    autocorrect = 1

[merge]
    autoStash
    color = auto
    conflictstyle = diff3
    mergestyle = diff3
    prompt = false
    renormalize
    strategy-option = resolve
    tool = nvim-merge
    summary = true
    diffstat = true

# this is from justinmk
# https://github.com/neovim/neovim/issues/2377
[mergetool "nvim-merge"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    # if it's not immediately clear what's going on, read up from this link:
    # http://blog.wuwon.id.au/2010/09/painless-merge-conflict-resolution-in.html
    # from this link we see that BASE is the commit that the file diverged at.
    # local and remote are the 2 paths we're trying to merge, and we can
    # determine which changes are necessary and what needs to be kept by
    # looking at those 4 buffers as a timeline

[push]
    default = simple

[sequence]
    editor = nvim

[alias]
    # From: https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases
    ci = commit
    co = checkout
    last = log -1 HEAD
    unstage = reset HEAD --

    # From varying Gists
    rel = rev-parse --show-prefix
    root = rev-parse --show-toplevel
    staged = diff --cached
    unstaged = diff

    # From: https://githowto.com/history
    # Run check git-log
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

    # General.
    br = branch
    bra = branch -a
    cl =  clone
    cls= clone --depth 1
    d = diff
    dt = difftool
    f = fetch --all
    m = merge
    mt = mergetool
    s = status -sb
    r = remote -v

    # stashes
    sh = stash
    sha = stash --all
    shp = stash pop

[rebase]
    autoStash = True
    stat = True

[status]
    showStash = True
    showUntrackedFiles = all

[pull]
    rebase = True
    renormalize

[url "git://github.com/"]
    insteadOf = g:
    insteadOf = https://github.com
    name = farisachugthai

[url "git@gist.github.com/"]
    insteadOf = "gist:"
    pushInsteadOf = "gist:"

; Could do something like this
; [init]
;   templatedir = ~/.config/git/
[cola]
    spellcheck = true
    tabwidth = 4
    expandtab = true
    boldheaders = true
[gui]
    editor = nvim
