# Global Git Config for Windows.

# 04/28/2019
# It's a whole ton of stuff and more than a few apps set their own configuration settings
# So it looks quite different than the Unix one
alias.br=branch
alias.bra=branch -a
alias.branches=!legit branches
alias.ci=commit
alias.cl=clon
alias.cls=clone --depth 1
alias.co=checkout
alias.d=diff
alias.dt=difftool
alias.f=fetch --all
alias.hist=log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
alias.last=log -- HEAD
alias.m=merge
alias.mt=mergetool
alias.publish=!legit publish
alias.r=remote -v
alias.rel=rev-parse --show-prefix
alias.root=rev-parse --show-toplevel
alias.s=status -sb
alias.sh=stash --all
alias.sha=stash apply
alias.shc=stash clear
alias.shd=stash drop
alias.shl=stash list
alias.shp=stash pop
alias.staged=diff --cached
alias.switch=!legit switch
alias.sync=!legit sync
alias.undo=!legit undo
alias.unpublish=!legit unpublish
alias.unstage=reset HEAD --
alias.unstaged=diff
cola.expandtab=true
cola.spellcheck=true
cola.tabwidth=4
color.branch=auto
color.diff=auto
color.interactive=true
color.status=auto
core.autocrlf=true
core.fscache=true
core.symlinks=false
credential.helper=manager
credential.https://www.github.comm.helper=manager
credential.https://www.github.comm.username=farisachugthai
diff.astextplain.textconv=astextplain
diff.prompt=false
diff.renames=copy
diff.strategy-option=resolve
filter.lfs.clean=git-lfs clean -- %f
filter.lfs.process=git-lfs filter-process
filter.lfs.required=true
filter.lfs.smudge=git-lfs smudge -- %f
gui.editor=nvim-qt.exe
gui.encoding=utf-8
gui.fontdiff=-family "Fira Code Light" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
gui.fontui=-family "Fira Code" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
gui.newbranchtemplate=nt
gui.tabsize=4
gui.warndetachedcommit=true
help.autocorrect=1
help.format=browser
help.format=html
help.format=man
http.sslbackend=openssl
http.sslcainfo=C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
merge.autostash
merge.conflictstyle=diff3
merge.mergestyle=diff3
merge.prompt=false
merge.strategy-option=resolve
merge.summary=true
merge.tool=vimdiff
mergetool.vimdiff.cmd=nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
pull.rebase=preserve
push.default=simple
rebase.autosquash=true
rebase.autostash=True
rebase.stat=True
rebase.usebuiltin=true
sequence.editor=nvim
stash.usebuiltin=true
status.showstash=True
status.showuntrackedfiles=all
user.email=farischugthai@gmail.com
user.name=farisachugthai
