;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

HOME=C:\Users\fac
browser=firefox
depth=1
init-author-name="Faris A. Chugthai"
init-license=MIT
metrics-registry=
msvs_version=2017
python=C:\Users\fac\scoop\apps\winpython\current\python-3.8.1.amd64\python.exe
shell=C:\Windows\system32\cmd.exe
umask=22
unicode=true
send-metrics=false
prefix=C:\Users\fac\scoop\apps\winpython\current\n

/* target_os= */

;;;;
; all options with default values
;;;;
; access=null
; allow-same-version=false
; always-auth=false
; also=null
; audit=true
; audit-level=low
; auth-type=legacy
; before=null
; bin-links=true
; browser=null
; ca=null
; cafile=undefined
; cache=C:\Users\fac\AppData\Roaming\npm-cache
; cache-lock-stale=60000
; cache-lock-retries=10
; cache-lock-wait=10000
; cache-max=null
; cache-min=10
; cert=null
; cidr=null
; color=true
; description=true
; dev=false
; dry-run=false
; editor=nvim
; engine-strict=false
; force=false
; format-package-lock=true
; fund=true
; fetch-retries=2
; fetch-retry-factor=10
; fetch-retry-mintimeout=10000
; fetch-retry-maxtimeout=60000
; git=git
; git-tag-version=true
; commit-hooks=true
; global=false
; globalconfig=C:\Users\fac\scoop\apps\winpython\current\n\etc\npmrc
; global-style=false
; group=0
; ham-it-up=false
; heading=npm
; if-present=false
; ignore-prepublish=false
; ignore-scripts=false
; init-module=C:\Users\fac\.npm-init.js
; init-author-email=
; init-author-url=
; init-version=1.0.0
; json=false
; key=null
; legacy-bundling=false
; link=false
; local-address=undefined
; loglevel=notice
; logs-max=10
; long=false
; maxsockets=50
; message=%s
; metrics-registry=null
; node-options=null
; node-version=12.13.0
; offline=false
; onload-script=null
; only=null
; optional=true
; otp=null
; package-lock=true
; package-lock-only=false
; parseable=false
; prefer-offline=false
; prefer-online=false
; preid=
; production=false
; progress=true
; proxy=null
; https-proxy=null
; noproxy=null
; user-agent=npm/{npm-version} node/{node-version} {platform} {arch} {ci}
; read-only=false
; rebuild-bundle=true
; registry=https://registry.npmjs.org/
; rollback=true
; save=true
; save-bundle=false
; save-dev=false
; save-exact=false
; save-optional=false
; save-prefix=^
; save-prod=false
; scope=
; script-shell=null
; scripts-prepend-node-path=warn-only
; searchopts=
; searchexclude=null
; searchlimit=20
; searchstaleness=900
; shrinkwrap=true
; sign-git-commit=false
; sign-git-tag=false
; sso-poll-frequency=500
; sso-type=oauth
; strict-ssl=true
; tag=latest
; tag-version-prefix=v
; timing=false
; tmp=C:\Users\fac\AppData\Local\Temp
; unsafe-perm=true
; update-notifier=true
; usage=false
; user=0
; userconfig=C:\Users\fac\.npmrc
; umask=0
; version=false
; versions=false
; viewer=browser
; _exit=true
; globalignorefile=C:\Users\fac\scoop\apps\winpython\current\n\etc\npmignore
