browser=firefox
umask=22
python=C:\Users\fac\.windows-build-tools\python27\python.exe
metrics-registry=
scope=
node bin location=C:\Users\fac\scoop\apps\nvm\current\v13.10.1\node64.exe
HOME=C:\Users\fac
