# Well first things first make sure this works before you stage or push.

# https://github.com/getinsomnia/insomnia/blob/develop/.editorconfig

[*.{js,json,html,md}]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = true

# that's definitely human-readable enough for me to guess what i want

[*.{vim,conf,py}]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
