[user]
	email = farischugthai@gmail.com
	name = farisachugthai

[core]
	editor = vim
    pager = less
    autocrlf = input

[color]
	ui = true
	pager = false
    interactive = auto
    diff = true
    branch = always

# Man git-difftool: Line 85
# git difftool falls back to git mergetool config variables when difftool
# equivalents haven't been set.
[merge]
    guitool = gvimdiff3
	tool = vimdiff3
	color = auto

[diff]
    guitool = gvimdiff3
    tool = vimdiff3
    color = auto

[push]
	default = simple

[sequence]
	editor = vim

[branch]
    autosetupmerge = true

[pager]
	status = true

[alias]
# From: https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases
    last = log -1 HEAD
    unstage = reset HEAD

# From varying Gists
    staged = diff --cached
    unstaged = diff

# Fix unexpected behavior
    ls = ls-files

[help]
    autocorrect = 1
