! From the man himself Shotts.
URxvt.geometry: 120x36
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt*scrollBar_right:   false
URxvt.secondaryScroll: true
URxvt.cursorBlink: false

! Playing around
URxvt*transparent:       true
URxvt*shading:       50
URxvt*visualBell:  true
URxvt*fading:  30
URxvt*colorUL:  cyan

# URxvt.font: xft:Fira Code Mono Light:autohint=true:pixelsize=16
URxvt.font: DejaVu Sans Mono Book: size=14
URxvt.letterSpace: -2


URxvt*italicFont:  xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
URxvt*boldItalicFont:  xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12

URxvt*termName: xterm-256color

*antialias:  true
*autohint:   true

URxvt*scrollWithBuffer: false
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true


! as a heads up the URLs are impossible to read so fix that
URxvt.perl-ext-common: default,matcher,tabbed
URxvt.urlLauncher: xdg-open
URxvt*url-select.launcher: /usr/bin/firefox
URxvt*url-select.underline: true
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-\[\]]*[\\w/-]


! So apparently tabbed is just a command now
!URxvt.tabbed.tabbar-fg: <colour-index, default 3>
!URxvt.tabbed.tabbar-bg: <colour-index, default 0>
!URxvt.tabbed.tab-fg:    <colour-index, default 0>
!URxvt.tabbed.tab-bg:    <colour-index, default 1>
!



! -----------------------------------------------------------------------------
! File: gruvbox-urxvt256.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 13 Dec 2013
! -----------------------------------------------------------------------------

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1



!!Source http://github.com/altercation/solarized
/* *background: #002b36 */
/* *foreground: #657b83 */
/* *fading: 40 */
/* *fadeColor: #002b36 */
/* *cursorColor: #93a1a1 */
/* *pointerColorBackground: #586e75 */
/* *pointerColorForeground: #93a1a1 */

/* !! black dark/light */
/* *color0: #073642 */
/* *color8: #002b36 */

/* !! red dark/light */
/* *color1: #dc322f */
/* *color9: #cb4b16 */

/* !! green dark/light */
/* *color2: #859900 */
/* *color10: #586e75 */

/* !! yellow dark/light */
/* *color3: #b58900 */
/* *color11: #657b83 */

/* !! blue dark/light */
/* *color4: #268bd2 */
/* *color12: #839496 */

/* !! magenta dark/light */
/* *color5: #d33682 */
/* *color13: #6c71c4 */

/* !! cyan dark/light */
/* *color6: #2aa198 */
/* *color14: #93a1a1 */

/* !! white dark/light */
/* *color7: #eee8d5 */
/* *color15: #fdf6e3 */



! One Dark
! ! special
! *.foreground:   #ABB2BF
! *.background:   #282C34
! *.cursorColor:  #ABB2BF

! ! black
! *.color0:       #282C34
! *.color8:       #3E4452

! ! red
! *.color1:       #E06C75
! *.color9:       #BE5046

! ! green
! *.color2:       #98C379
! *.color10:      #98C379

! ! yellow
! *.color3:       #E5C07B
! *.color11:      #D19A66

! ! blue
! *.color4:       #61AFEF
! *.color12:      #61AFEF

! ! magenta
! *.color5:       #C678DD
! *.color13:      #C678DD

! ! cyan
! *.color6:       #56B6C2
! *.color14:      #56B6C2

! ! white
! *.color7:       #ABB2BF
! *.color15:      #5C6370
