! Xresources

! From the man himself Shotts.
URxvt.geometry                 : 120x36
URxvt.saveLines                : 10000
URxvt.scrollBar                : false
URxvt*scrollBar_right          : false
URxvt.secondaryScroll          : true
URxvt.cursorBlink              : false

! First attempt at configuring the X server directly
URxvt*transparent              : true
URxvt*shading                  : 50
URxvt*visualBell               : true
URxvt*fading                   : 30
URxvt*colorUL                  : blue

URxvt.letterSpace       : -2
Urxvt*font              : FiraCode : autohint=True : pixelsize=20
Urxvt*italicFont        : FiraCode : italic : autohint=True : pixelsize=20
Urxvt*boldFont          : FiraCode : bold   : autohint=True : pixelsize=20

! check out archwikis entry on fontconfig for good explanations of anti-aliasing and autohinting
*antialias                     : true
*autohint                      : true

URxvt*scrollWithBuffer         : false
URxvt*scrollTtyOutput          : false
URxvt*scrollTtyKeypress        : true

! as a heads up the URLs are impossible to read so fix that
URxvt.perl-ext-common          : default,matcher,tabbed
URxvt.urlLauncher              : xdg-open
URxvt*url-select.launcher      : /usr/bin/firefox
URxvt*url-select.underline     : true
URxvt.matcher.pattern.1        : \\bwww\\.[\\w-]\\.[\\w./?&@#-\[\]]*[\\w/-]

! https://github.com/addy-dclxvi/i3-starterpack/blob/master/.Xresources
URxvt*iso14755:      false
URxvt*termName:      rxvt-256color
URxvt.lineSpace:     0

URxvt*depth:            32
!URxvt*background:      rgba:0000/0000/0000/AAAA
!URxvt*background:      [80]#404552
URxvt*background:       [100]#2f343f
URxvt*foreground:       #F8F8FF
URxvt.underlineColor:   #4682B4
URxvt.highlightColor:   #4682B4
URxvt.throughColor:     Blue
URxvt*cursorColor:      #dc8cc3
URxvt*cursorColor2:     Black


! -----------------------------------------------------------------------------
! File: gruvbox-urxvt256.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 13 Dec 2013
! -----------------------------------------------------------------------------

URxvt.color24  : #076678
URxvt.color66  : #427b58
URxvt.color88  : #9d0006
URxvt.color96  : #8f3f71
URxvt.color100 : #79740e
URxvt.color108 : #8ec07c
URxvt.color109 : #83a598
URxvt.color130 : #af3a03
URxvt.color136 : #b57614
URxvt.color142 : #b8bb26
URxvt.color167 : #fb4934
URxvt.color175 : #d3869b
URxvt.color208 : #fe8019
URxvt.color214 : #fabd2f
URxvt.color223 : #ebdbb2
URxvt.color228 : #f2e5bc
URxvt.color229 : #fbf1c7
URxvt.color230 : #f9f5d7
URxvt.color234 : #1d2021
URxvt.color235 : #282828
URxvt.color236 : #32302f
URxvt.color237 : #3c3836
URxvt.color239 : #504945
URxvt.color241 : #665c54
URxvt.color243 : #7c6f64
URxvt.color244 : #928374
URxvt.color245 : #928374
URxvt.color246 : #a89984
URxvt.color248 : #bdae93
URxvt.color250 : #d5c4a1

! ------------------------------------------------------------------------------
! Xft Font Configuration
! --------------------------------------------------------------------------
Xft.antialias   : true
Xft.autohint    : true
Xft.lcdfilter   : lcddefault
Xft.hintstyle   : hintslight
Xft.hinting     : 1
Xft.rgba        : rgb

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast         :
*background             : #1d2021
*foreground             : #ebdbb2
! Black + DarkGrey
*color0                 : #282828
*color8                 : #928374
! DarkRed + Red
*color1                 : #cc241d
*color9                 : #fb4934
! DarkGreen + Green
*color2                 : #98971a
*color10                : #b8bb26
! DarkYellow + Yellow
*color3                 : #d79921
*color11                : #fabd2f
! DarkBlue + Blue
*color4                 : #458588
*color12                : #83a598
! DarkMagenta + Magenta
*color5                 : #b16286
*color13                : #d3869b
! DarkCyan + Cyan
*color6                 : #689d6a
*color14                : #8ec07c
! LightGrey + White
*color7                 : #a89984
color15                 : #ebdbb2

! special
*.foreground:   #e8dfd6
*.background:   #021b21
*.cursorColor:  #e8dfd6

! black
*.color0:       #032c36
*.color8:       #065f73

! red
*.color1:       #c2454e
*.color9:       #ef5847

! green
*.color2:       #7cbf9e
*.color10:      #a2d9b1

! yellow
*.color3:       #8a7a63
*.color11:      #beb090

! blue
*.color4:       #2e3340
*.color12:      #61778d

! magenta
*.color5:       #ff5879
*.color13:      #ff99a1

! cyan
*.color6:       #44b5b1
*.color14:      #9ed9d8

! white
*.color7:       #f2f1b9
*.color15:      #f6f6c9

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! From:
! https://github.com/LukeSmithxyz/voidrice/blob/master/.Xdefaults
rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30

! ------------------------------------------------------------------------------
! Dmenu configs
! -----------------------------------------------------------------------------

dmenu.selforeground:       #d8dee9
dmenu.background:          #2e3440
dmenu.selbackground:       #bf616a
dmenu.foreground:          #d8dee9


! ------------------------------------------------------------------------------
! UXTerm configs
! ------------------------------------------------------------------------------

! termtype
UXTerm*termName:           xterm-256color
UXTerm*VT100.geometry:     92x16
UXTerm*font:               M+ 1mn
UXTerm*faceSize:           12
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          10000
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false
UXTerm*boldMode:           false
UXTerm*colorBDMode:        true
UXTerm*colorBD:            rgb:3f/3f/3f

! Here's a general colorscheme for the X server as a whole
! include ~/.Xresources.d/addy

! Xresources colorscheme I came up with myself
! include ~/.Xresources.d/personal-colorscheme
! btw syntax highlighting turns the line bright red when you uncomment :(
