[Desktop Entry]
Categories=Utilities
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Exec=keepassxc %f
GenericName=Password Manager
Icon=keepassxc
MimeType=application/x-keepass2;
Name=KeePassXC
StartupWMClass=keepassxc
Terminal=false
TryExec=keepassxc %f
Type=Application
Version=1.0
